<nav
  class="container lg:mx-auto flex h-16 items-center justify-between px-8 backdrop-blur bg-background/95 supports-[backdrop-filter]:bg-background/60 rounded-lg border"
>
  <h1 class="text-xl font-bold">
    {{portfolioData.personal.payoff}}
  </h1>

  <div class="flex items-end gap-6">
    <ul class="items-center gap-6 overflow-x-hidden max-w-32.5 lg:max-w-full hidden lg:flex">
      <li>
        <button
          (click)="scrollToSection('about')"
          [routerLinkActive]="'active'"
          [routerLink]="'/'"
          [variant]="activeSection() === 'about' ? 'outline' : 'ghost'"
          class="cursor-pointer min-w-26.25 transition-all"
          data-section="about"
          fragment="about"
          hlmBtn
        >
          {{ 'title.about' | translate }}
        </button>
      </li>
      <li>
        <button
          (click)="scrollToSection('experience')"
          [routerLink]="'/'"
          [variant]="activeSection() === 'experience' ? 'outline' : 'ghost'"
          class="cursor-pointer min-w-26.25 tr1ansition-all"
          data-section="experience"
          fragment="experience"
          hlmBtn
        >
          {{ 'title.experience' | translate }}
        </button>
      </li>
      <li>
        <button
          (click)="scrollToSection('skills')"
          [routerLink]="'/'"
          [variant]="activeSection() === 'skills' ? 'outline' : 'ghost'"
          class="cursor-pointer min-w-30 transition-all"
          data-section="skills"
          fragment="skills"
          hlmBtn
        >
          {{ 'title.skills' | translate }}
        </button>
      </li>
      @if (portfolioData.projects.length > 0) {
      <li>
        <button
          (click)="scrollToSection('projects')"
          [routerLink]="'/'"
          [variant]="activeSection() === 'projects' ? 'outline' : 'ghost'"
          class="cursor-pointer min-w-26.25 transition-all"
          data-section="projects"
          fragment="projects"
          hlmBtn
        >
          {{ 'title.projects' | translate }}
        </button>
      </li>
      }
      <li>
        <button
          (click)="scrollToSection('contact')"
          [routerLink]="'/'"
          [variant]="activeSection() === 'contact' ? 'outline' : 'ghost'"
          class="cursor-pointer min-w-26.25 transition-all"
          data-section="contact"
          fragment="contact"
          hlmBtn
        >
          {{ 'title.contact' | translate }}
        </button>
      </li>
    </ul>


    @if (showBtn$()) {
      <hlm-sheet side="right" class="block lg:hidden">
        <button class="cursor-pointer" hlmBtn hlmSheetTrigger>
          <ng-icon hlmMenuIcon name="lucideCircleUserRound"></ng-icon>
        </button>
        <hlm-sheet-content *brnSheetContent="let ctx">
          <div class="grid flex-1 auto-rows-min gap-6 px-4">
            <app-sidebar/>
          </div>
        </hlm-sheet-content>
      </hlm-sheet>
    }

    <button [hlmMenubarTrigger]="languageMenu"
            [hlmTooltipTrigger]="'misc.change-language' | translate"
            aria-describedby="Cambia lingua"
            class="cursor-pointer w-25"
            hlmBtn
            variant="outline">
      <ng-icon [name]="currentFlag()" hlmMenuIcon/>
      {{ currentLanguage() }}
    </button>

    <ng-template #languageMenu>
      <hlm-dropdown-menu class="w-40">
        <button
          (triggered)="changeLanguage('en')" hlmDropdownMenuItem>
          <ng-icon hlmMenuIcon name="flagGb"/>
          English
        </button>
        <button (triggered)="changeLanguage('it')" hlmDropdownMenuItem>
          <ng-icon hlmMenuIcon name="flagIt"/>
          Italiano
        </button>
      </hlm-dropdown-menu>
    </ng-template>
  </div>
</nav>
