<nav
  class="container md:mx-auto flex h-16 items-center justify-between px-8 backdrop-blur bg-background/95 supports-[backdrop-filter]:bg-background/60 rounded-lg border"
>
  <h1 class="text-xl font-bold">Portfolio</h1>
  <ul class="flex items-center gap-6 overflow-x-hidden max-w-[130px] md:max-w-full hidden md:flex">
    <li>
      <button
        hlmBtn
        class="cursor-pointer min-w-[105px] transition-all"
        [variant]="activeSection() === 'about' ? 'outline' : 'ghost'"
        (click)="scrollToSection('about')"
        data-section="about"
      >
        {{ 'title.about' | translate }}
      </button>
    </li>
    <li>
      <button
        hlmBtn
        class="cursor-pointer min-w-[105px] tr1ansition-all"
        [variant]="activeSection() === 'experience' ? 'outline' : 'ghost'"
        (click)="scrollToSection('experience')"
        data-section="experience"
      >
        {{ 'title.experience' | translate }}
      </button>
    </li>
    <li>
      <button
        hlmBtn
        class="cursor-pointer min-w-[120px] transition-all"
        [variant]="activeSection() === 'skills' ? 'outline' : 'ghost'"
        (click)="scrollToSection('skills')"
        data-section="skills"
      >
        {{ 'title.skills' | translate }}
      </button>
    </li>
    <li>
      <button
        hlmBtn
        class="cursor-pointer min-w-[105px] transition-all"
        [variant]="activeSection() === 'projects' ? 'outline' : 'ghost'"
        (click)="scrollToSection('projects')"
        data-section="projects"
      >
        {{ 'title.projects' | translate }}
      </button>
    </li>
    <li>
      <button
        hlmBtn
        class="cursor-pointer min-w-[105px] transition-all"
        [variant]="activeSection() === 'contact' ? 'outline' : 'ghost'"
        (click)="scrollToSection('contact')"
        data-section="contact"
      >
        {{ 'title.contact' | translate }}
      </button>
    </li>
  </ul>
   <button hlmBtn variant="outline"
   
         [hlmTooltipTrigger]="'Cambia lingua'" 
        aria-describedby="Cambia lingua"
   [hlmMenubarTrigger]="languageMenu">
      <ng-icon [name]="currentFlag()" hlmMenuIcon />
      {{ currentLanguage() }}
    </button>
    
    <ng-template #languageMenu>
      <hlm-dropdown-menu class="w-40">
        <button 
        class="cursor-pointer"
         hlmDropdownMenuItem (triggered)="changeLanguage('en')">
          <ng-icon name="flagGb" hlmMenuIcon />
          English
        </button>
        <button hlmDropdownMenuItem (triggered)="changeLanguage('it')">
          <ng-icon name="flagIt" hlmMenuIcon />
          Italiano
        </button>
      </hlm-dropdown-menu>
    </ng-template>


    <hlm-popover class="block md:hidden" align="end" side="bottom" sideOffset="8">
      <button
        class="cursor-pointer"
        hlmTooltipTrigger 
        [hlmTooltipTrigger]="'Le mie info'"
        aria-describedby="Le mie info"
         hlmPopoverTrigger 
         hlmBtn>
        <ng-icon name="lucideCircleUserRound" hlmMenuIcon></ng-icon>
        <span *brnTooltipContent>Le mie info</span>
      </button>
      <div hlmPopoverContent *brnPopoverContent="let ctx">
        <app-sidebar></app-sidebar>
      </div>
    </hlm-popover>
</nav>
